<% posts.each do |post| %>
<div class="post-box">
  <p><%= link_to post.user.name, user_path(post.user) %>さん</p>
  <h4>
    <span class="genre-name"><%= post.genre.name %></span>
    <% unless post.source.blank? %>
      『<%= post.source %>』からの気づき
    <% else %>
      気づき
    <% end %>
  </h4>
  <p><%= post.word %></p>
  <h4><%= link_to '今日からすること', post_path(post) %></h4>
    <%# 他ユーザーの投稿の場合、いいねボタンの設置 %>
    <% unless post.user == current_user %>
      <%= render "favorites/favorite", post: post if user_signed_in? %>
    <% end %>
  <p>
    <%= post.action %>
  </p>
  <p>
    <%= link_to post.favorites.count, favorites_path(post) %>人が応援しています
    <span class="post-date"><%= post.created_at.strftime('%m月%d日') %>投稿</span>
  </p>
</div>
<% end %>
<%= paginate @posts %>
