<p><%= link_to post.user.name, user_path(post.user) %>さん</p>

<h4>
  <%# 非公開画像には非公開と表示する %>
  <% if post.publish_status == "unpublish" %>
    <p class="message-tag">非公開</p>
  <% end %>
  <div class="word-title">
    <span class="genre-name"><%= post.genre.name %></span>
    <%# sourceが入力されているかどうかで表示を分岐 %>
    <% unless post.source.blank? %>
      『<%= post.source %>』からの気づき
    <% else %>
      気づき
    <% end %>
  </div>
</h4>

<p><%= post.word %></p>

<h4 class="action-title"><%= link_to '今日からすること', post_path(post) %></h4>
<%# いいねボタンの設置 %>
<%= render "favorites/favorite", post: post %>

<p><%= post.action %></p>

<!-- いいねしている人数を表示 -->
<p class="cheer-message">
  <%= link_to post.favorites.count, favorites_path(post) %>人が応援しています!
</p>

<p class="post-date"><%= post.created_at.strftime('%m月%d日') %>投稿</p>
