<div class="search_box">
  <%= form_tag :search_posts, method: :get do %>
    <%= text_field_tag "q", "", placeholder: "例）早起き" %>
    <%= submit_tag "検索" %>
    <p style="color: gray;">投稿を検索できます</p>
  <% end %>
</div>
  <% if user_signed_in? %>
    <ul>
      <li><%= link_to "みんなの投稿", posts_path %></li>
      <li><%= link_to "フォローしているユーザーの投稿",
         user_follower_posts_path(current_user) %></li>
    </ul>
  <% end %>
