<div class="search_box">
  <%= form_tag :search_posts, method: :get do %>
    <%= text_field_tag "q", "", placeholder: "例）早起き" %>
    <%= submit_tag "検索" %>
    <p style="color: gray;">投稿を検索できます</p>
  <% end %>
</div>
  <% if user_signed_in? %>
    <ul>
      <li>
        <i class="fas fa-clipboard-list fa-2x"></i>
        <%= link_to "みんなの投稿", posts_path %><br><%= page_point(action: :index) %>
      </li>
      <li>
        <i class="fas fa-list-ol fa-2x"></i>
        <%= link_to "いいねランキング", ranking_path %><%= page_point(action: :ranking) %>
      </li>
      <li>
        <i class="fas fa-user-friends fa-2x"></i>
        <%= link_to "フォローユーザー投稿", follower_posts_path(current_user) %>
        <%= page_point(follower_posts_path(current_user)) %>
      </li>
      <li>
        <i class="fas fa-thumbs-up fa-2x"></i>
        <%= link_to "いいねしている投稿", favorite_posts_path(current_user) %><%= page_point(favorite_posts_path(current_user)) %></li>
    </ul>
  <% end %>
