<div class="row">
  <div class="col-md-2">
    <div class="sidebar">
      <div class="search_box">
        <%= search_form_for @search do |f| %>
          <%= f.search_field :word_or_action_cont, placeholder: "例）早起き" %><br>
          <%= f.submit '検索', class: "btn btn-default" %>
          <%= f.label "「気づき」または「すること」から検索できます", style: "color: gray;" %>
        <% end %>
      </div>
      <div class="sidebar_link">
        <% if user_signed_in? %>
          <%= render "posts/sidebar" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <% if @result.any? %>
      <% @result.each do |result| %>
        <div id="post_<%= result.id %>" class="post-box">
          <%= render "posts/post", post: result %>
        </div>
      <% end %>
      <%= paginate @result, class: "paginate" %>
    <% elsif @result.blank? %>
      <p>検索結果なし</p>
    <% end %>
  </div>
</div>
