<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="post-box">
      <p><%= link_to @post.user.name, user_path(@post.user) %>さん</p>
      <h4>
        <span class="genre-name"><%= @post.genre.name %></span>
        <% unless @post.source.blank? %>
          『<%= @post.source %>』からの気づき
        <% else %>
          気づき
        <% end %>
      </h4>
      <p><%= @post.word %></p>
      <h4>今日からすること</h4>
        <%= render "favorites/favorite", post: @post %>
      <p>
        <%= @post.action %>
      </p>
      <p><%= link_to @post.favorites.count, favorites_path(@post) %>人が応援しています</p>

      <%# ログイン中のユーザーにのみ編集・削除ボタンを表示 %>
      <% if @post.user == current_user %>
        <p>メールでお知らせ：<%= @post.send_mail?? "する":"しない" %></p>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-default" %>
        <%= link_to "削除", post_path(@post), method: :delete,
            data: {confirm: "削除しますか？"}, class: "btn btn-default" %>
      <% end %>

      <%# コメント入力フォームの表示 %>
      <p class="alert-message"><%= flash[:alert] %></p>
      <%= render 'comments/form' %>

      <%# コメントの表示 %>
      <%= render 'comments/comments_index', comments: @all_comments %>
    </div>
  </div>
</div>
