<div class="wrapper">
  <div class="form-box">
    <h3>
      いつもLifeLogのご利用ありがとうございます。<br>
      お返事はメールにてお送りさせていただきますので、<br>
      メールアドレスの入力のお忘れがないよう、お願いいたします。
    </h3>
    <h2>お問い合わせフォーム</h2>
    <%= render "layouts/error_messages", model: @inquiry %>
      <%= form_for(@inquiry, url: {action: :confirm}) do |f| %>
        <div class="field">
          <%= f.label "お名前" %>
          <%= f.text_field :name, placeholer: "20文字以内" %>
        </div>

        <div class="field">
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label "お問い合わせ内容" %>
          <%= f.text_area :content, placeholder: "200文字以内" %>
        </div>

        <div class="action">
          <%= f.submit "確認画面へ", class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>
